name: Release Mod

on:
  push:
    branches: [ master ]

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Get version
        id: get_version
        run: |
          # Ищем строчку version=1.0.0 и берем цифры после равно
          VERSION=$(grep "^version=" gradle.properties | cut -d'=' -f2)
          echo "MOD_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build with Gradle
        run: ./gradlew build

      - name: Read changelog
        id: changelog
        run: |
          EOF=$(openssl rand -hex 8)
          echo "BODY<<$EOF" >> $GITHUB_ENV # <--- Гитхаб ждет "a1b2c3d4"
          cat changelog.txt >> $GITHUB_ENV
          echo "$EOF" >> $GITHUB_ENV

      - name: Publish Mod
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: build/libs/!(*-sources|*-javadoc).jar
          
          name: "Hamis Mod ${{ env.MOD_VERSION }}"
          
          loaders: |
            forge
            neoforge
          game-versions: |
            1.20.1

          changelog: ${{ env.BODY }}

          curseforge-id: 1453071
          curseforge-token: ${{ secrets.CF_API_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
